{% extends "layouts/main.html" %}


{% block header %}
  {{ govukOneLoginServiceHeader({
    serviceName: "Get civil legal aid",
    navigationItems: [{
      href: "home.html",
      text: 'Home',
      id: 'servicelink1'
    },{
      href: "payments.html",
      text: 'Payments',
      id: 'servicelink3'
    },
    {
      href: "#",
      text: 'Messages',
      id: 'servicelink3'
    }],
    activeLinkId: 'servicelink1'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="hmrc-caption govuk-caption-xl"><span class="govuk-visually-hidden">This section is </span>Account home</p>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">David Johnson</h1>


    
<h2 class="govuk-heading-l">Your appointments</h2>







<ul class="govuk-task-list govuk-!-margin-bottom-9">
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="appointment_details" aria-describedby="company-details-3-hint company-details-3-status">
        Landmark law centre
      </a>
      <div id="company-details-3-hint" class="govuk-task-list__hint">
        <p class="govuk-task-list__hint">9.30am - 10.00am</br> Monday 1st January 2025</p> 
      </div>
    </div>
    <div class="govuk-task-list__status" id="company-details-3-status">

    </div>
  </li>
  
    
  </ul>
  
 
  

<h2 class="govuk-heading-l">Your applications</h2>


<ul class="govuk-task-list">
<li class="govuk-task-list__item govuk-task-list__item--with-link">
  <div class="govuk-task-list__name-and-hint">
    <a class="govuk-link govuk-task-list__link" href="upload_evidence" aria-describedby="company-details-3-hint company-details-3-status">
      Housing
    </a>
    <div id="company-details-3-hint" class="govuk-task-list__hint">
      Evidence needed to support application
    </div>
  </div>
  <div class="govuk-task-list__status" id="company-details-3-status">
    <strong class="govuk-tag govuk-tag--yellow">
      Upload evidence
    </strong>
  </div>
</li>


  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="#" aria-describedby="company-details-3-hint company-details-3-status">
        Family (Domestic Abuse)
      </a>
      <div id="company-details-3-hint" class="govuk-task-list__hint">
        You can recieve legal help for this problem
      </div>
    </div>
    <div class="govuk-task-list__status" id="company-details-3-status">
      <strong class="govuk-tag govuk-tag--green">
        Approved
      </strong>
    </div>
  </li>
  
</ul>

<h3 class="govuk-heading-s">If you have a new legal problem</h3>
<p>
<a class="govuk-link" href="../public/start.html">Check if you can get legal aid</a> to start a new application.
You’ll be asked general questions about your legal problem and your income and savings. </p>



</div>



  <div class="govuk-grid-column-one-third" >
    <aside class="app-related-items" role="complementary">

      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <p> If you need help with using this service </a></p>
          <div class="contact">
            <p>Telephone:<br><strong>0300 200 3310</strong></p>
            
        </div>
        </li>
       
      </ul>
    </aside>
  </div>
</div>



</div>


{% endblock %}