{% extends "layouts/main.html" %}


{% block header %}
  {{ govukOneLoginServiceHeader({
    serviceName: "Get civil legal aid",
    navigationItems: [{
      href: "home.html",
      text: 'Home',
      id: 'servicelink1'
    },{
      href: "#",
      text: 'Payments',
      id: 'servicelink2'
    },
    {
      href: "#",
      text: 'Messages',
      id: 'servicelink3'
    }],
    activeLinkId: 'servicelink2'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

   

    
<h2 class="govuk-heading-xl">Outstanding payments</h2>

<ul class="govuk-list">
  
      
      
      
      
  <li>
    
      <div class="govuk-details__text" style="margin-bottom: 9.5px">
        <p class="govuk-body p--with-details">
          You need to pay <span class="govuk-body govuk-!-font-weight-bold">£45.80</span> by <span class="govuk-body govuk-!-font-weight-bold">31 July 2025</span>.
          
  
        </p>
      </div>
  
      
  <details id="bill-details-2025-07-31" class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
      <span id="bill-details-2025-07-31-span" class="govuk-details__summary-text">
       Contribution details
      </span>
      </summary>
      <div class="govuk-details__text" id="bill-details-2025-07-31-panel">
          
              <p> WIP</p>
       
          
          
      </div>
  </details>
  
  </li>
  
  </ul>

<div >
  {{ govukButton({
  text: "Make a payment now"
}) }}
</div>

  <div class="govuk-!-margin-bottom-6" >
    {{ govukButton({
      text: "Set up direct debit",
      classes: "govuk-button--secondary"
    }) }}

  </div>

<h2 class="govuk-heading-m">Previous payments</h2>

<p class="govuk-body">
  View <a href="#" class="govuk-link">payments you have already made</a>.
</p>

</div>



  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">

      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <p> If you need help with using this service </a></p>
          <div class="contact">
            <p>Telephone:<br><strong>0300 200 3310</strong></p>
            
        </div>
        </li>
       
      </ul>
    </aside>
  </div>
</div>



</div>


{% endblock %}