{% extends "layouts/main.html" %}


{% block header %}


{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Check if you can get legal aid ",
  serviceUrl: "/"
}) }}

{% endblock %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}

{{ govukBackLink({
  text: "Back",
  href: "client_means_check_about.html"
}) }}

{% endblock %}

{% block content %}

<main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Your savings</h1>

        <p class="govuk-body">We need to know about any money you have saved or invested.</p>
        <p class="govuk-body">You'll need to provide evidence of the financial information you've given us through this service.</p>

        <form class="form" action="#" method="post">
          <div class="govuk-form-group">
            <label class="govuk-label" for="savings">
              <h2 class="govuk-heading-m">Savings</h2>
            </label>
            <p class="govuk-body govuk-hint">The total amount of savings in cash, bank or building society; or enter 0 if you have none</p>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-10" id="savings" name="savings" type="text">
            </div>
            <details class="govuk-details govuk-!-margin-top-3" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">What payments do not count as savings?</span>
              </summary>
              <div class="govuk-details__text">
                Details about payments that don't count as savings would go here
              </div>
            </details>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="investments">
              <h2 class="govuk-heading-m">Investments</h2>
            </label>
            <p class="govuk-body govuk-hint">This includes stocks, shares, bonds (but not property); enter 0 if you have none</p>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-10" id="investments" name="investments" type="text">
            </div>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="valuable-items">
              <h2 class="govuk-heading-m">Total value of items worth over £500 each</h2>
            </label>
            <p class="govuk-body govuk-hint">See below for examples of what valuable items to include</p>
            <div class="govuk-input__wrapper">
              <div class="govuk-input__prefix" aria-hidden="true">£</div>
              <input class="govuk-input govuk-input--width-10" id="valuable-items" name="valuable-items" type="text">
            </div>
            <details class="govuk-details govuk-!-margin-top-3" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">What valuable items should I include?</span>
              </summary>
              <div class="govuk-details__text">
                Details about which valuable items to include would go here
              </div>
            </details>
          </div>

          {{ govukButton({
            text: "Continue",
            href: "client_means_check_income"
        }) }}

        </form>

      </div>
  

  
  <div class="govuk-grid-column-one-third" >
    <aside class="app-related-items" role="complementary">

      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <p> If you need help with using this service </a></p>
          <div class="contact">
            <p>Telephone:<br><strong>0300 200 3310</strong></p>
            
        </div>
        </li>
       
      </ul>
    </aside>
  </div>
</div>
</main>

</div>
{% endblock %}

