{% extends "/layouts/case_detail.html" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Manage legal aid cases",
  serviceUrl: "/",
  classes: "govuk-header--full-width-border",
  navigation: [
    {
      href: "#1",
      text: "Provider username",
      active: true
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}

{% endblock %}

{% block beforeContent %}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="provider_appointments">Appointments</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="appointment_details.html">David Johnson</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Merits</a>
      </li>
    </ol>
  </nav>
{% endblock%}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Merits of the case</h1>

    <ol class="app-task-list">
      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">1. </span>About the application
          <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px">
          </span>
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <a class="govuk-body" href="incident_details" aria-describedby="eligibility-completed">
              Latest incident details
            </a>
            <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
          </li>
          <li class="app-task-list__item">
            <a class="govuk-body" href="opponent_individual_or_org" aria-describedby="eligibility-completed">
              Opponents
            </a>
            <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
          </li>
          <li class="app-task-list__item">
            <a class="govuk-body" href="opponent_mental_capacity" aria-describedby="eligibility-completed">
              Mental capacity of all parties
            </a>
            <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
          </li>
          <li class="app-task-list__item">
            <a class="govuk-body" href="domestic_abuse_summary" aria-describedby="eligibility-completed">
              Domestic abuse summary
            </a>
            <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
          </li>
          <li class="app-task-list__item">
            <a class="govuk-body" href="children_1" aria-describedby="eligibility-completed">
              Children involved in this application
            </a>
            <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
          </li>
          <li class="app-task-list__item">
            <a class="govuk-body" href="laspo" aria-describedby="eligibility-completed">
              Section 8 and LASPO
            </a>
            <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
          </li>
          <li class="app-task-list__item">
            <a class="govuk-body" href="statement" aria-describedby="eligibility-completed">
              Statement of case
            </a>
            <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">2. </span> About the child arrangements order (contact)
        </h2>
        <ul class="app-task-list__items">
          <li class="app-task-list__item">
            <span class="govuk-body" aria-describedby="eligibility-completed">
              Children covered by proceeding
            </span>
            <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="eligibility-completed">CANNOT START YET</strong>
          </li>
          <li class="app-task-list__item">
            <a class="govuk-body" href="resolve_cao" aria-describedby="eligibility-completed">
              Attempts to settle
            </a>
            <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
          </li>
          <li class="app-task-list__item">
            <a class="govuk-body" href="prospects_cao" aria-describedby="eligibility-completed">
              Chances of success
            </a>
            <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
          </li>
        </ul>
      </li>

      <li>
        <h2 class="app-task-list__section">
          <span class="app-task-list__section-number">3. </span>About the non-molestation order
          <span id="nationality-1-item-hint" class="govuk-hint" style="margin-bottom: 0px"></span>
        </h2>
        <ul class="app-task-list__items">

          <li class="app-task-list__item">
            <a class="govuk-body" href="prospects_non_mol" aria-describedby="eligibility-completed">
              Chances of success
            </a>
            <strong class="govuk-tag govuk-tag--grey app-task-list__task-completed" id="eligibility-completed">NOT STARTED</strong>
          </li>
        </ul>
      </li>

    </ol>

    <a href="#" role="button" class="govuk-button">
      Save and continue
    </a>

    <a role="button" style="margin-left: 15px;" class="govuk-button draft-button">
      Save and come back later
    </a>

  </div>
</div>

{% endblock %}