
{% extends "layouts/main.html" %}

{% block header %}

{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Manage legal aid cases",
  serviceUrl: "/",
  classes: "govuk-header--full-width-border",
  navigation: [
    {
      href: "#1",
      text: "Provider username",
      active: true
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}


{{ govukServiceNavigation({
  navigation: [
  {
    href: "/Provider/dashboard",
    text: "Home"
  },
    {
      href: "/Provider/provider_appointments",
      text: "Appointments"
     
    },
    {
      href: "/Provider/provider_applications",
      text: "Applications"
    },
    {
      href: "/Provider/provider_cases",
      text: "Cases",
      active: true
    },
    {
      href: "/Provider/provider_claims",
        text: "Claims"
      },
      {
        href: "#",
        text: "Search"
      }
  ]
}) }}
  {% endblock %}

  {% block content %}

  <h1 class="govuk-heading-xl">Open cases</h1>

  <details class="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
       Filter cases
      </span>
    </summary>
    <div class="govuk-details__text">
      WIP
    </div>
  </details>

 

    <table class="govuk-table" data-module="moj-sortable-table">

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">

          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="0">Reference</button></th>

          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="1">Name</button></th>

          <th scope="col" class="govuk-table__header" aria-sort="none"><button type="button" data-index="2">Last updated</button></th>

        

          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none"><button type="button" data-index="5">Status</button></th>

        </tr>
      </thead>

      <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="case_details.html" class="govuk-link">PC-4950-9422</a></td>

          <td class="govuk-table__cell">Sasha Wilson</td>

          <td class="govuk-table__cell" data-sort-value="4">Mon 2 Oct 25</td>

          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">STU-3303</td>

          <td class="govuk-table__cell">Grace Wong</td>

          <td class="govuk-table__cell" data-sort-value="4">Mon 2 Oct 25</td>

          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">
            <strong class="govuk-tag govuk-tag--purple">
              New message
            </strong>
          </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell">STU-3303</td>

          <td class="govuk-table__cell">Mohammed Khan</td>

          <td class="govuk-table__cell" data-sort-value="4">Mon 2 Oct 25</td>

          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
          </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell">STU-3303</td>

          <td class="govuk-table__cell">	David Wilson</td>

          <td class="govuk-table__cell" data-sort-value="4">Mon 2 Oct 25</td>

          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">
            <strong class="govuk-tag govuk-tag--yellow">
              Update required
            </strong>
          </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell">STU-3303</td>
          <td class="govuk-table__cell">Brendan Fisher</td>

          <td class="govuk-table__cell" data-sort-value="4">Sun 1 Oct 25</td>

          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">STU-3303</td>
          <td class="govuk-table__cell">Charlee Christian</td>

          <td class="govuk-table__cell" data-sort-value="4">Sun 1 Oct 25</td>

          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
          </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell">STU-3303</td>
          <td class="govuk-table__cell">Neveah Marsh</td>

          <td class="govuk-table__cell" data-sort-value="4">Sun 1 Oct 25</td>

          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
          </td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">STU-3303</td>
          <td class="govuk-table__cell">Neveah Marsh</td>

          <td class="govuk-table__cell" data-sort-value="4">Sun 1 Oct 25</td>

          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
          </td>
        </tr>


        <tr class="govuk-table__row">
          <td class="govuk-table__cell">STU-3303</td>
          <td class="govuk-table__cell">Neveah Marsh</td>

          <td class="govuk-table__cell" data-sort-value="4">Sun 1 Oct 25</td>

          <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="3">
            <strong class="govuk-tag govuk-tag--blue">
              In progress
            </strong>
          </td>
        </tr>



      </tbody>
    </table>
  <div aria-live="polite" role="status" aria-atomic="true" class="govuk-visually-hidden">

  </div>

  {% from "govuk/components/pagination/macro.njk" import govukPagination %}

  {{ govukPagination({
    next: {
      href: "#"
    },
    items: [
      {
        number: 1,
        current: true,
        href: "#"
      },
      {
        number: 2,
        href: "#"
      },
      {
        number: 3,
        href: "#"
      }
    ]
  }) }}

</div>

  {% endblock %}