{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    
    <h1 class="govuk-heading-xl">
     End to end transformation prototype
    </h1>

    <h2 class="govuk-heading-m">
      Providers
    </h2>

    <a class="govuk-link govuk-heading-s" href="/Provider/provider_appointments.html">Provider dashboard</a>

    <h2 class="govuk-heading-m">
      Caseworkers
    </h2>


    <a class="govuk-link govuk-heading-s" href="/caseworker_means/cases">Assess client eligibility</a>

    <a class="govuk-link govuk-heading-s" href="/caseworker_means/cases">Assess merits</a>

    <a class="govuk-link govuk-heading-s" href="https://laa-billing-alpha-prototype-main.apps.live.cloud-platform.service.justice.gov.uk/v2/core-journey/my-claims-basic?logged-in-user=Civil%20caseworker">Assess a claim</a>
    
  </div>
</div>

{% endblock %}

